.todo {
    display: flex;
    align-items: center;
    background-color: rgb(168, 127, 97);
    width: 100%;
    height: 100%;
    border-radius: 12px;
    cursor: pointer;
    color: #ffffff;
    padding-left: 20px;
    & .buttonDiv {
      display: flex;
      gap: 6px;
      justify-content: flex-end;
      padding-right: 20px;
    }
  }